<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343152738170-0n7rmr6hhetae1ul4jomclrjll76n5c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343152738170-0n7rmr6hhetae1ul4jomclrjll76n5c0</string>
	<key>API_KEY</key>
	<string>AIzaSyCKXVPC40HpvWQY7kPzM9OGE7Zkb-11ytE</string>
	<key>GCM_SENDER_ID</key>
	<string>343152738170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.DoKhanaDo</string>
	<key>PROJECT_ID</key>
	<string>dokhanado-af436</string>
	<key>STORAGE_BUCKET</key>
	<string>dokhanado-af436.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343152738170:ios:b045d0880fcddf814fa0c3</string>
</dict>
</plist>